body, html{
    font-family:'roboto', sans-serif;
}

/* 
    formatando header
*/
.nav-inicial{
    background: url(../imagens/fundo_topo.jpg) repeat-x;
    border-radius: 0 0 6px 6px;
}
.data {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}

.nav-secundaria{
    background: url(../imagens/back_ondas_escuro.png)no-repeat center right;
    border-bottom: 2px dotted rgb(83, 78, 78);
}

.portal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 2%;
}
.portal h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}


/* 
conteudo do site
*/
.block{
    margin-top: 20px;
}
#topo-conteudo{
    height: 35px;
    border-bottom: 1px solid gray;
    background-image: linear-gradient(#fff,rgb(142, 224, 173));
}
#topo-conteudo h5{
    font-weight: 700;
    color: rgb(65, 63, 63);
    margin: 8px 0 7px 10px;
    font-size: 16px;
    /* border: 1px solid red; */

}
.container-primary{
    padding: 0;
    box-sizing: border-box;
    border: 1px solid gray;
}

.btn-outline-light {
    margin: 6px 10px 5px 6px;
    font-size: 26px;
    color: #000;
    background-color:#fff ;
    font-size: 10px;
    padding: 0 10px;
    text-transform: uppercase;
}
.btn-outline-light:hover {
    color: #fff;
    background-color:rgb(46, 42, 42);
    transition: all ease-out 0.4s;
}

.cartao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border: 1px solid rgb(101, 168, 101);
    border-radius: 7px;
    box-shadow: 0 0 10px 1px rgb(167, 164, 164);
    background-size: cover;
    font-size: 38px;
}
.cartao h5{
    margin-top: 10px;
    font-size: 15px;
}

footer {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    height: 60px;
    background: url(../imagens/fundo_rodape.png) repeat-x;
}
footer h5 {
    font-weight: 500;
    font-size: 12px;
}